:root {
    --main-accent-color: #BBF330;
    --main-clearance-color: #FFE550;
    --main-bg-color: #FEFEFE;
    --main-text-accent-color: #7EB101;

    --primary-text-color: #2C2C2C;
    --input-email-color:  #505050;
    --secondary-bgc: #F5F5F5;

    --main-font-style: "Roboto", sans-serif;
    --main-bold-font: 700px;
    --main-medium-font: 500px;

    --items: 2;
    --indent: 67px;
    /*змінні для формули, змінні можна перебивати задаючи в своїй секції нові значення
     flex-basis: calc((100% - (var(--items) -1) * var(--indent)) / var(--items)); */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

 img {
    display: block;
    max-width: 100%;
    height: auto;
} 

/* /* button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px; 
} */

ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/** ============================== COMPONENTS ============================== **/

.container {
    width: 1248px;
    
    padding-right: 16px;
    margin: 0 auto;

    outline: 1px solid blue;
}

.section {
    margin: 0 auto;
    width: 1280px;
    outline: 1px solid red;
}

.section-title {
    /* font-size: 
    font-weight: 
    line-height:
    margin-bottom:  */
}

.paragraph {
    /* margin-bottom:
    font-size: 
    line-height:  */
}

/* .btn {}

.btn.light-theme {} */

/** ============================== /COMPONENTS ============================== **/

body {
    font-family: var(--main-font-style);
    color: #2C2C2C;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--nain-bg-color);
}

/* Приклад оформлення секції. Компонентні класи (ті що використовуюуться багато разів, пишемо в розділі COMPONENTS
.hero-section {}
.hero-container {}
.hero-title {}
.hero-block {}
всі ваші інші класи
 */

/** ============================== HEADER ============================== **/

/* header */


.header.main{display: flex;
             width: 1280px;
             align-items: center;
             text-decoration: none;
             background: var(--main-bg-color);
             box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);}    


/* logo */


.logo { display: flex;
        margin-right: 735px;
        align-items: center;}    

.nav .list {display: flex;
            align-items: center;
            text-decoration: none;
            cursor: pointer;
            font-size: 14px;}

.list .list-item + .list-item {margin-left: 28px;}

.main-nav {display: flex;
           height: 72px;
           align-items: center;
           text-decoration: none;}

.link-item {text-decoration: none;
            padding-top: 28px;
            margin-bottom: 28px;
            position: relative;} 
   
.link-item::before {content: '';
                    position: absolute;
                    left: 0; bottom: -1px;
                    width: 0;
                    height: 1.5px;
                    background-color: var(--main-accent-color);}   
           
.link-item:hover:before {width: 100%;}                    
.link-item::before {transition: width 0.35s;}

.nav .list .link-item:hover, .nav .list .link-item:focus {color: var(--main-accent-color)}


/* button */


.btn {background-color:var(--main-accent-color);
      border-radius: 30px;
      cursor: pointer;
      width: 98px;
      height: 32px;
      border: 1px solid transparent;
      font-weight: 500;
      font-size: 13px;}

.btn.head:hover {color:var(--primary-text-color);
                 background-color: var(--main-bg-color);} 
        
.btn.head:focus {color:var(--primary-text-color);
                 background-color: var(--main-bg-color);}                 

.btn.head {margin-left: 30px;}  


/** ============================== /HEADER ============================== **/

/** ============================== HERO ============================== **/






/** ============================== /HERO ============================== **/

/** ============================== OFFERINGS ============================== **/





/** ============================== /OFFERINGS ============================== **/

/** ============================== FAVORITES ============================== **/





/** ============================== /FAVORITES ============================== **/

/** ============================== CUSTOMERS SAY ============================== **/




/** ============================== /CUSTOMERS ============================== **/

/** ============================== SUBSCRIBE ============================== **/





/** ============================== /SUBSRIBE ============================== **/

/** ============================== FOOTER ============================== **/







/** ============================== /FOOTER ============================== **/



    

