:root {
  --main-accent-color: #bbf330;
  --main-clearance-color: #ffe550;
  --main-bg-color: #fefefe;
  --main-text-accent-color: #7eb101;
  --main-btn-hover-color: #ffe450;
  --clean-white-color: #ffffff;

  --primary-text-color: #2c2c2c;
  --input-email-color: #505050;
  --secondary-bgc: #f5f5f5;

  --main-font-style: "Roboto", sans-serif;
  --main-bold-font: 700px;
  --main-medium-font: 500px;

  --items: 2;
  --indent: 67px;

  /*змінні для формули, змінні можна перебивати задаючи в своїй секції нові значення
     flex-basis: calc((100% - (var(--items) -1) * var(--indent)) / var(--items)); */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/** ============================== COMPONENTS ============================== **/

.container {
  width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  /* outline: 1px solid blue; */
}

.section {
  width: 1280px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.section-title {
  font-weight: 700;
  line-height: 1.2;
  font-size: 42px;
  margin-bottom: 20px;
}

.section-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
}

.paragraph {
  margin-bottom: 40px;
  line-height: 1.2;
}

/* button */
.btn {
  font-family: var(--main-font-style);
  background-color: var(--main-accent-color);
  border-radius: 30px;
  cursor: pointer;
  width: 98px;
  height: 32px;
  border: 1px solid transparent;
  font-weight: var(--main-bold-font);
  font-size: 13px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.btn:hover {
  color: var(--primary-text-color);
  background-color: var(--main-btn-hover-color);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:focus {
  color: var(--primary-text-color);
  background-color: var(--main-clearance-color);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* клас для білої кнопки з зеленою рамкою */
.light-theme-btn.btn {
  background-color: var(--clean-white-color);
  border: 2px solid var(--main-text-accent-color);
}

.light-theme-btn.btn:hover,
.light-theme-btn.btn:focus {
  border-color: var(--main-btn-hover-color);
}

/* клас для високої кнопки форми */
.form-btn.btn {
  width: 103px;
  height: 42px;
  border-radius: 30px;
  line-height: 1.5;
}

/** ============================== /COMPONENTS ============================== **/

body {
  /* margin-top: 72px; for header position: sticky*/
  font-family: var(--main-font-style);
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--main-bg-color);
}

/** ============================== HEADER ============================== **/

/* header */
.header-section {
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  background: var(--main-bg-color);
  margin-left: auto;
  margin-right: auto;
  /* for header position: sticky
  position: fixed;
  z-index: 100;
   top: 0;
  left: 50%;
  transform: translate(-50%, calc(-50% + 36px)); */
}


.header.main-nav {
  display: flex;
  align-items: center;
  text-decoration: none;


}

/* logo */
.logo {
  display: flex;
  margin-right: 735px;
  align-items: center;
}

.nav .list {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

.list .list-item+.list-item {
  margin-left: 28px;
}

.main-nav {
  display: flex;
  height: 72px;
  align-items: center;
  text-decoration: none;
}

.link-item {
  text-decoration: none;
  padding-top: 28px;
  margin-bottom: 28px;
  position: relative;
}

.link-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1.5px;
  background-color: var(--main-accent-color);
}

.link-item:hover:before {
  width: 100%;
}

.link-item {
  text-decoration: none;
  color: var(--primary-text-color);
  padding-top: 28px;
  margin-bottom: 28px;
  position: relative;
}

.link-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1.5px;
  background-color: var(--main-accent-color);
  transition: width 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item:hover:before {
  width: 100%;
}

.link-item::before {
  transition: all width 0.35s 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav .list .link-item:hover,
.nav .list .link-item:focus {
  color: var(--main-accent-color);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.head {
  margin-left: 30px;
}

/** ============================== /HEADER ============================== **/

/** ============================== HERO ============================== **/
.hero-container {
  display: flex;
}

.hero-list {
  padding-top: 159px;
}

.hero-title {
  font-size: 48px;
  margin-bottom: 28px;
}

.hero-paragraph {
  margin-bottom: 40px;
}

.hero-list>.btn.head {
  margin-left: 0;
}

.hero-image {
  display: block;
  width: 580px;
  height: 580px;
  margin-left: 138px;
  border: 26px solid #FFE550;
  border-radius: 50%;
  margin-top: 14px;
  margin-right: 0;
  margin-left: auto;
}

/** ============================== /HERO ============================== **/

/** ============================== OFFERINGS ============================== **/

.offerings-section {
  position: relative;
}

.offerings-section .bg-img-bottom {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/bg-yellow-bottom.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* outline: 1px solid violet; */
  height: 824px;
  width: 1280px;
  z-index: -1;
  transform: translatey(-147px);
}

.container-flex {
  display: flex;
  align-items: flex-end;
  padding-bottom: 43px;
  padding-top: 30px;

}

.offerings-list {
  display: flex;
  margin-right: -67px;
}

.offerings-list .list-item {
  --items: 2;
  --indent: 67px;
  flex-basis: calc((100% - (var(--items) -1) * var(--indent)) / var(--items));
  margin-right: 67px;
}

.offerings-list .link-item:last-child {
  margin-right: 0;
}

.offer-list-paragraph {
  font-size: 14px;
}

.offerings-icon {
  background-color: var(--main-bg-color);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.offerings-content {
  margin-left: 90px;
  width: 573px;
  padding-bottom: 43px;

}

.light-theme-btn.btn.btn-offering {
  width: 106px;
  height: 40px;
  /* margin-bottom: 57px; */
}

.light-theme-btn.btn.btn-offerings:hover,
.light-theme-btn.btn.btn-offerings:focus {
  background-color: var(--main-accent-color);
  border-color: var(--main-accent-color);
}

/** ============================== /OFFERINGS ============================== **/

/** ============================== FAVORITES ============================== **/

.container-favorites {
  padding-top: 100px;
  padding-bottom: 100px;
}

.favorites-title {
  text-align: center;
}

.favorites-paragraph {
  text-align: center;
}

.favorites-list {
  --indent: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--indent) * 2) var(--indent);
}

.favorites-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 394px;
  height: 397px;
  position: relative;
  /* --items-favorites: 3; */
  /* flex-basis: calc((100% - (var(--indent-favorites) * (var(--items-favorites) - 1))) / var(--items-favorites)); */
  stroke: var(--main-clearance-color);
}

.favorites-ring {
  position: absolute;
  z-index: -1;
}

.favorites-item:hover,
.favorites-item:focus {
  stroke: var(--main-accent-color);
}

/** ============================== /FAVORITES ============================== **/


/** ============================== CUSTOMERS SAY ============================== **/

/* ще не зроблене позиціювання фонового зображення */
.customers-section {
  position: relative;
  padding-bottom: 134px;
  padding-top: 100px;
}

.bg-img-top {
  background-image: url("../images/bg-yellow-top.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  height: 647px;
  width: 1480px;
  z-index: -1;
}

.customers-container {
  /* padding-bottom: 134px; */
}

.customers-title {
  margin-bottom: 20px;
}

.customers-paragraph {
  line-height: 1.19;
  margin-bottom: 32px;
}

.list {
  list-style: none;
}

.say-list {
  display: flex;
  justify-content: flex-start;
  gap: 139px;
}

.card-place {
  width: 501px;
  height: 227px;
  background-color: var(--main-bg-color);
  border-radius: 0px 30px 30px 30px;

  padding-left: 14px;
  padding-right: 14px;
}

.customer-icon {
  margin-left: 14px;
  margin-top: 14px;
  margin-bottom: 28px;
}

.customer-text {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
}

.customer-info {
  position: relative;

  display: flex;
  width: 160px;
  padding-top: 2px;
  padding-bottom: 2px;

  gap: 16px;
}

.customer-info::after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 52px;
  height: 1px;

  transform: rotate(90deg);
  transform-origin: right;
  background-color: var(--main-text-accent-color);
}

.customer-name {
  font-weight: var(--main-medium-font);
  font-size: 14px;
  margin-bottom: 4px;
  margin-right: 16px;
}

.customer-descr {
  font-size: 14px;
  margin-right: 2px;
}

/** ============================== /CUSTOMERS ============================== **/


/** ============================== SUBSCRIBE ============================== **/
.sub-title {
  padding-top: 46px;
  font-family: var(--main-font-style);
  font-weight: var(--main-bold-font);
  font-size: 42px;
  line-height: 50.4px;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.sub-paragraph {
  font-family: var(--main-font-style);
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-text-color);
  width: 656px;
  margin-bottom: 24px;
}

.subscribe-section {
  padding-bottom: 100px;
  min-width: 266px;

}

.sub-container {

  display: flex;
}

/** ============================== /SUBSCRIBE ============================== **/

/** ============================== FOOTER ============================== **/
.footer-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.nav-footer .list {
  padding-top: 19px;
  /* display: flex; */
}

.footer-section .nav {
  display: flex;
  align-items: flex-start;
}

.footer-section .list-item:not(:last-child) {
  margin-right: 28px;
  margin-left: 0;
}

.footer-section .list-item:last-child {
  margin-left: 0;
}

.footer-logo {
  margin-right: 148px;
}

/* subscribe form */
.form {
  margin-left: 320px;
  width: 395px;
  outline: 1px solid red;
}

.form-title {
  font-family: var(--main-font-style);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.form-paragraph {
  font-size: 12px;
  color: var(--primary-text-color);
  margin-top: 12px;
}

.form-link {
  text-decoration-line: underline;
  color: var(--main-text-accent-color);
}


/*Nadiia Bykova*/
.footer-section {
  background-image: url("../images/footer-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  border-top: var(--main-bg-color);
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
  margin-bottom: 50px;
}

.footer-link {
  color: var(--main-text-accent-color);
  font-size: 12px;
  text-decoration: underline;
}

.list-footer {
  display: flex;
  gap: 20px;
}

.last-line {
  display: flex;
  justify-content: space-between;

  align-items: baseline;

}

.text-footer {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2px;
}




/** ============================== /FOOTER ============================== **/