:root {
  --main-accent-color: #bbf330;
  --main-clearance-color: #ffe550;
  --main-bg-color: #fefefe;
  --main-text-accent-color: #7eb101;
  --main-btn-hover-color: #ffe450;

  --primary-text-color: #2c2c2c;
  --input-email-color: #505050;
  --secondary-bgc: #f5f5f5;

  --main-font-style: "Roboto", sans-serif;
  --main-bold-font: 700px;
  --main-medium-font: 500px;

  --items: 2;
  --indent: 67px;
  --indent-favorites: 32px;
  /* --items-favorites: 3; */
  /*змінні для формули, змінні можна перебивати задаючи в своїй секції нові значення
     flex-basis: calc((100% - (var(--items) -1) * var(--indent)) / var(--items)); */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/** ============================== COMPONENTS ============================== **/

.container {
  width: 1248px;
  margin: 0 auto;
  outline: 1px solid blue;
}

.section {
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  width: 1280px;
  outline: 1px solid red;
}

.section-title {
  font-weight: 700;
  line-height: 1.2;
  font-size: 42px;
  margin-bottom: 20px;
}

.paragraph {
  margin-bottom: 40px;
}

/* button */

.btn {
  font-family: var(--main-font-style);
  background-color: var(--main-accent-color);
  border-radius: 30px;
  cursor: pointer;
  width: 98px;
  height: 32px;
  border: 1px solid transparent;
  font-weight: var(--main-bold-font);
  font-size: 13px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.btn:hover {
  color: var(--primary-text-color);
  background-color: var(--main-btn-hover-color);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:focus {
  color: var(--primary-text-color);
  background-color: var(--main-clearance-color);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* клас для білої кнопки з зеленою рамкою */
.light-theme-btn {
  background: var(--main-bg-color);
  border: 0.854167px solid;
  border-color: var(--main-accent-color);
}

/* клас для високої кнопки форми */
.form-btn {
  width: 103px;
  height: 42px;
  border-radius: 30px;
  line-height: 1.5;
}

/** ============================== /COMPONENTS ============================== **/

body {
  font-family: var(--main-font-style);
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--main-bg-color);
}

/* Приклад оформлення секції. Компонентні класи (ті що використовуюуться багато разів, пишемо в розділі COMPONENTS
.hero-section {}
.hero-container {}
.hero-title {}
.hero-block {}
всі ваші інші класи
 */

/** ============================== HEADER ============================== **/

/* header */

.header.main {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: var(--main-bg-color);
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

/* logo */
.logo {
  display: flex;
  margin-right: 735px;
  align-items: center;
}

.nav .list {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

.list .list-item+.list-item {
  margin-left: 28px;
}

.main-nav {
  display: flex;
  height: 72px;
  align-items: center;
  text-decoration: none;
}

.link-item {
  text-decoration: none;
  padding-top: 28px;
  margin-bottom: 28px;
  position: relative;
}

.link-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1.5px;
  background-color: var(--main-accent-color);
}

.link-item:hover:before {
  width: 100%;
}

.link-item {
  text-decoration: none;
  color: var(--primary-text-color);
  padding-top: 28px;
  margin-bottom: 28px;
  position: relative;
}

.link-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1.5px;
  background-color: var(--main-accent-color);
}

.link-item:hover:before {
  width: 100%;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item::before {
  transition: all width 0.35s 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav .list .link-item:hover,
.nav .list .link-item:focus {
  color: var(--main-accent-color);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.head {
  margin-left: auto;
}

/** ============================== /HEADER ============================== **/

/** ============================== HERO ============================== **/

/** ============================== /HERO ============================== **/

/** ============================== OFFERINGS ============================== **/

.container-flex {
  display: flex;
}

.offerings-list {
  display: flex;
}

.offerings-list .list-item {
  outline: 1px solid red;
}

.oferings-icon {
  outline: 1px solid red;
  background-color: var(--main-bg-color);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offerings-content {
  width: 573px;
  outline: 1px solid green;
}

/** ============================== /OFFERINGS ============================== **/

/** ============================== FAVORITES ============================== **/

/** ============================== /FAVORITES ============================== **/

.favorites {
  margin: 100px auto;
}

.favorites-title {
  text-align: center;
}

.favorite-txt {
  line-height: 1.2;
  margin-bottom: 40px;
  text-align: center;
}

.favorite-list {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--indent-favorites) * 2) var(--indent-favorites);
}

.favorite-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 394px;
  height: 397px;
  position: relative;
  /* flex-basis: calc((100% - (var(--indent-favorites) * (var(--items-favorites) - 1))) / var(--items-favorites)); */
  stroke: var(--main-clearance-color);
}

.favorite-ring {
  position: absolute;
  z-index: -1;
}

.favorite-item:hover,
.favorite-item:focus {
  stroke: var(--main-accent-color);
}

/** ============================== CUSTOMERS SAY ============================== **/

/* ще не зроблене позиціювання фонового зображення */
.customers-section {
  height: 647px;
  background-image: url(../images/bg-yellow-top.png);
  padding-top: 100px;
  padding-bottom: 200px;
}

.customers-title {
  margin-bottom: 20px;
}

.customers-paragraph {
  line-height: 1.19;
  margin-bottom: 32px;
}

.list {
  list-style: none;
}

.say-list {
  display: flex;
  justify-content: flex-start;
  gap: 139px;
}

.card-place {
  width: 501px;
  height: 227px;
  background-color: var(--main-bg-color);
  border-radius: 0px 30px 30px 30px;

  padding-left: 14px;
  padding-right: 14px;
}

/** ============================== /CUSTOMERS ============================== **/
.customer-icon {
  margin-left: 14px;
  margin-top: 14px;
  margin-bottom: 28px;
}

.customer-text {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
}

.customer-info {
  position: relative;

  display: flex;
  width: 160px;
  padding-top: 2px;
  padding-bottom: 2px;

  gap: 16px;
}

.customer-info::after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 52px;
  height: 1px;

  transform: rotate(90deg);
  transform-origin: right;
  background-color: var(--main-text-accent-color);
}

.sub-title {
  font-family: var(--main-font-style);
  font-weight: var(--main-bold-font);
  font-size: 42px;
  line-height: 50.4px;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.sub-paragraph {
  font-family: var(--main-font-style);
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-text-color);
  width: 656px;
  margin-bottom: 24px;
}

.customer-name {
  font-weight: var(--main-medium-font);
  font-size: 14px;
  margin-bottom: 4px;
  margin-right: 16px;
}

.customer-descr {
  font-size: 14px;
  margin-right: 2px;
}

/** ============================== SUBSCRIBE ============================== **/

.subscribe {
  padding-bottom: 100px;
}

.sub-container {
  display: flex;
}



/** ============================== /SUBSRIBE ============================== **/

/** ============================== FOOTER ============================== **/
/* subscribe form */
.form {
  padding-left: 870px;
}

.form-title {
  font-family: var(--main-font-style);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.form-paragraph {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: var(--primary-text-color);
  margin-top: 12px;
}

.form-link {
  text-decoration-line: underline;
  color: var(--main-text-accent-color);
}


/*Nadiia Bykova*/
 .group-footer{
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
 }

 .footer-link {
   color: var(--main-text-accent-color);
   font-weight: 400;
   font-size: 12px;
   line-height: 1.2px;
   text-decoration: underline;
 }

 .list-footer {
   display: flex;
   gap: 20px;
 }

 .last-line {
   display: flex;
   justify-content: space-between;
   padding-bottom: 100px;
   align-items: baseline;
  
 }

 .text-footer {
   font-weight: 400;
   font-size: 12px;
   line-height: 1.2px;
 }

 
 

/** ============================== /FOOTER ============================== **/